<!-- clubReport -->
<script id="report_tpl" type="text/x-jsrender">
    <table class="table table-hover m-0">
        <thead>
            <tr>
                <th>Тренер</th>
                <th>Перевод</th>
                <th>Архив</th>
            </tr>
        </thead>
        <tbody>
        {{for rows}}
          <tr>
            <th>{{:name}}</th>
            <td>
                {{if cnt_trainer > 0}}
                [[-<a href="#" class="show-sportsmen-pnl badge" title="{{:sportsmen_new}}"
                    data-w="idChanges.newvalue=Новый;idSportsmen.city={{:id}}">]]
                <a href="#" class="show-sportsmen-pnl badge badge-primary" data-w="cnt_trainer={{:id}}">{{:cnt_trainer}}</a>
                {{/if}}
            </td>
            <td>
                {{if cnt_arc > 0}}
                <a href="#" class="show-sportsmen-pnl badge badge-primary" data-w="idTrainer.id={{:id}}">{{:cnt_arc}}</a>
                {{/if}}
            </td>
          </tr>
        {{/for}}
        </tbody>
    </table>
</script>

<script>
$.observable(clubReport).setProperty('opts', {
    postData : {
        table: 'idTrainer',
        _report: 'idTrainer_archive'
    }
});
</script>