<style>
    #chartLesson .c3-axis-x .tick { display:none; }
    #chartTabs > .tab-content .tab-pane { min-height:320px; }
</style>
<div class="row" id="startData">
    <div class="col-lg-4 col-md-6">
        
<div class="card mb-2">
    <nav class="card-header">
        <div class="nav nav-tabs card-header-tabs" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" href="#tsearch"><i class="fa fa-users"></i></a>
            <a class="nav-item nav-link" data-toggle="tab" href="#tbirth" data-link="class{merge:(cnt_birth > 0) toggle='text-danger'}">
                <i class="fa fa-birthday-cake"></i>
                <b class="badge" data-link="text{:cnt_birth} visible{:cnt_birth}"></b>
            </a>
        </div>
    </nav>

    <div class="tab-content">
        <div id="tsearch" class="tab-pane active" data-link="{include tmpl='#tpl_sp_search'}"></div>
        
        <div id="tbirth" class="tab-pane">
            <div class="list-group list-group-reflow">
                <div class="list-group-bordered">
                    <a href="/database/trainers.html?filter=birth" target="_blank"
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        Тренеры <span class="badge badge-danger badge-pill"
                            data-link="text{:cnt_birth_tr} visible{:cnt_birth_tr}"></span>
                    </a>
                    <a href="/database/db.html?filter=birth:today"
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                        data-link="{on ~showSpBirth}">
                        Спортсмены <span class="badge badge-danger badge-pill"
                            data-link="text{:cnt_birth_sp} visible{:cnt_birth_sp}"></span>
                    </a>
                </div>
            </div>
            <div class="list-group-divider" data-link="{for idSportsmens tmpl='#tpl_SearchSportsmen'}"></div>
        </div>
    </div>
</div>

    </div><!-- first col -->

    <div class="col-lg-8 col-md-6 d-none" data-link="class{merge:!show_stat toggle='d-none'}">
        <div class="card card-body">
            <div class="d-md-inline-block1 ml-auto"
                data-link="{if idClub ~link=selClub ~rows=idClub tmpl='#tpl_Select'} visible{:idClub}">
            </div>

            <div class="row">
                <div class="col-12 col-lg-6 mb-2">
                    <a href="/database/db.html">
                        <small>Действующие</small>
                        <h4 class="m-0" data-link="dboard^cnt_all">...</h4>
                    </a>
                    <div id="dbChartStatus"></div>
                </div>
                <div class="col-12 col-lg-6">
                    <a href="/database/db.html?filter=saldo:debts" class="d-block clearfix mb-1">
                        <div class="float-left">
                            <small>Должники</small>
                            <h4 class="m-0" data-link="dboard^cnt_minus">...</h4>
                        </div>
                        <div class="float-right d-none" data-link="class{merge:(!show_money) toggle='d-none'}">
                            <small>Сумма долга</small>
                            <h4 class="m-0" data-link="{formatDigits:0-dboard^sum_minus}"></h4>
                        </div>
                    </a>
                    <div data-debt="cnt_minus">
                        <p class="small text-muted mb-1">0%</p>
                        <div class="progress progress-xs bg-transparent">
                            <div class="progress-bar bg-red" role="progressbar"></div>
                        </div>
                    </div>
                    
                    <div data-debt="cnt_med" class="mt-3">
                        <h5 class="list-group-item-title"><a href="/database/db.html?filter=meddate:0">Без справки: <b></b></a></h5>
                        <p class="small text-muted mb-1">0%</p>
                        <div class="progress progress-xs bg-transparent">
                            <div class="progress-bar bg-orange" role="progressbar"></div>
                        </div>
                    </div>
                    
                    <div data-debt="cnt_ins" class="mt-3">
                        <h5 class="list-group-item-title"><a href="/database/db.html?filter=insdate:0">Без страховки: <b></b></a></h5>
                        <p class="small text-muted mb-1">0%</p>
                        <div class="progress progress-xs bg-transparent">
                            <div class="progress-bar bg-purple" role="progressbar"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-3" id="chartTabs">
                <nav class="nav-scroller">
                    <div class="nav nav-pills my-2" role="tablist">
                        <a class="nav-item nav-link active" data-toggle="tab" href="#tabInvoice">Начисления</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#chartNAR">Новые/Архив</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#chartLesson">Посещаемость</a>
                    </div>
                </nav>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabInvoice">
                        <div class="custom-control custom-checkbox" data-link="visible{:show_money}">
                            <input type="checkbox" class="custom-control-input" id="plus_lessons" data-link="plus_lessons">
                            <label class="custom-control-label" for="plus_lessons"> Посещения</label>
                        </div>
                        <div id="chartInvoice"></div>
                    </div>
                    <div class="tab-pane" id="chartNAR"></div>
                    <div class="tab-pane" id="chartLesson"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="tpl_sp_search" type="text/x-jsrender">
<div class="card-header1 p-3">
    {{include ~placeholder="ФИО или договор" tmpl="#tpl_searchinput"/}}
</div>

<div class="list-group list-group-reflow list-group-divider" data-link="visible{:searchSportsmens^length>0}">
    {^{for searchSportsmens tmpl='#tpl_SearchSportsmen' /}}
</div>
<div class="card-footer p-3" data-link="visible{:arc_cnt>0}">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="show_arc" data-link="show_arc">
        <label class="custom-control-label" for="show_arc">Архив: <b data-link="arc_cnt"></b></label>
    </div>
</div>
</script>

<script id="tpl_SearchSportsmen" type="text/x-jsrender">
<div class="list-group-item rowSportsmen {{if status=='Архив'}}club-arc{{/if}}" data-link="visible{:~root^show_arc||status!='Архив'}">
    <div class="list-group-item-figure">
        <a href="/sportsmens/sportsmen.html?key={{:key}}" target="_blank"
            data-sportsmen="{{:key}}"
            class="user-avatar user-avatar-md">
            <img alt="{{:name}} photo" src="{{:thumb}}">
            <span class="avatar-badge
            {{if status=='Действует'}}online{{else status=='Архив'}}offline{{else}}idle{{/if}}"></span>
        </a>
    </div>
    <div class="list-group-item-body">
        <div class="float-right">
        {{roDMenu}}
        <a href="#" class="dropdown-item btn-addinvoice" data-link="{on ~addInvoice}">
            <i class="dropdown-icon fa fa-usd"></i> Продажа/Оплата</a>
        <a href="/qr.html?key={{:key}}" target="_blank" class="dropdown-item"><i class="dropdown-icon fa fa-check"></i> Посещение</a>
        {{/roDMenu}}
        </div>
        <h4 class="list-group-item-title">
            <a href="/sportsmens/sportsmen.html?key={{:key}}" data-sportsmen="{{:key}}" target="_blank">{{:name}}</a>
            {{if birth}}<small class="text-muted">{{formatDate:birth}}</small>{{/if}}
        </h4>
        <div class="list-group-item-text small">
            {{if contract || contractdate}}
                Договор: {{:contract}}
                {{if contractdate}} от {{formatDate:contractdate}}{{/if}}
            {{/if}}
            <div class="mt-1">
            {{if (saldo < 0) }}
                <span class="text-danger">{{:saldo}}</span>
            {{else (saldo > 0) }}
                <span class="text-success">+{{:saldo}}</span>
            {{/if}}
            
            [[-{^{if rest_lesson > 0 || lesson_amount==0}}
                <i class="fa fa-battery-3 mr-1"></i>
                {^{:(lesson_amount!=0)? rest_lesson+' ~ ' : ''}}
                {^{formatDate:duedate}}
            {{else}}
                <i class="fa fa-battery-0 text-warning animated flash infinite" data-toggle="tooltip" title="Без абонемента"></i>
            {{/if}}]]
            
            [[-{{if residue}}
                <i class="fa fa-battery-3 ml-2" aria-hidden="true"></i> {{:residue}} до {{formatDate:duedate}}
            {{/if}}]]
            </div>
        </div>
    </div>
</div>
</script>

[[$tplSearch]]
<script>
var startData = $.extend({
    doSportsmenSearch: function(){
        getSpRows({
            filters: buildFilter('name', startData.srchTxt, 'cn') //bw
        }).done(function(data) {
            SCRM.link(startData, {searchSportsmens: data.rows});
            var arc_cnt = $('#tsearch .club-arc');
            SCRM.link(startData, {arc_cnt:  arc_cnt.length});
        });
    },
    plus_lessons: false,
    selClub: '0',
    postData: {}
}, [[!runHook?hook=`data/dboard/start`]]);

console.log(startData);

$(document).on('clubUpdateSpData', function (e, data) {
    //console.log('clubUpdateSpData', e, data)
    startData.doSportsmenSearch();
});

var charts = {};

function loadChart(p, cb) {
    if (window.c3) {
        setTimeout(function(){
            var ch = c3.generate(p);
            if (cb) cb(ch);    
        }, 50);
    } else {
        charts[p.bindto] = {p: p, cb: cb};
    }
}

SCRM.loadWSS(['c3'], function(){
    $.each(charts, function(k, v){
        loadChart(v.p, v.cb);
        delete charts[k];
    });
});

$(function(){
    startData.cnt_birth = (startData.cnt_birth_sp||0)+(startData.cnt_birth_tr||0);
    $.link(true, '#startData', startData, {
        showSpBirth: function(e, dd) {
            e.preventDefault();
            /*var fltSearch = {
                groupOp: 'AND',
                rules: [
                    {field:'idSportsmen.birth', op:'eq', data: },
                    {field:'status', op:'eq', data:'narc'}
                ]
            };*/
            getSpRows({
                filters: SCRM.obj2Filter({
                    'idSportsmen.birth': 'today',
                    status: 'narc'
                })
            })
            .done(function(data) {
                SCRM.link(startData, {idSportsmens: data.rows});
            });
        },
        addInvoice: function(e, data){
            var d = data.linkCtx.data;
            SCRM._run('/chunk/newinvoice', {
                payd: true,
                debt: 0 - d.saldo*1,
                sp: d
            });
            [[-.on('clubUpdateSpData', function () {
                startData.doSportsmenSearch();
            });]]
        },
        srchSubmit: function(e, data) {
            e.preventDefault();
            if (!startData.srchTxt||startData.srchTxt.length<2) return;
            startData.doSportsmenSearch();
        }
    });
    function dboard(addPost) {
        var cnt_all = startData.dboard.cnt_all||0;
        $('[data-debt]').each(function(i, v){
            //TODO: Есть что переделаь
            var el = $(v);
            var d = startData.dboard[ el.data('debt') ];
            if (d) {
                var persent = (cnt_all > 0 )? Math.round(d*100 / cnt_all) : 0;
                $('h5 a b', el).text(d);
                $('.text-muted', el).text(persent+'%')
                .next('.progress').find('.progress-bar').css({width: persent+'%'});
            }
        });
        SCRM.link(SCRM.app, {
            subtitle: '<i class="fa fa-clock-o"></i> <span id="updated">'+
                str2date(startData.created, 'dt') +'</span>'
        });
        if (!startData.show_money) startData.plus_lessons = 1;
        
        //var w_dboard = $.extend(true, {
        //    lessdata: 1,
        //    _mode: 'dboard',
        //    _report: 'idCity_counts'
        //}, addPost);
        //console.log(w_dboard);

        var chartData = [ ];
        $.each(startData.cnt_status, function(k, v){
            chartData.push([v.name+' ('+ v.cnt_all +')', v.cnt_all]);
        });
        loadChart({
            bindto: '#dbChartStatus',
            data: {
                //onclick: function (d, i) { console.log("onclick", d, i); },
                columns: chartData,
                type : 'pie'
            },
            size: {height: 300}
        });
        
        function showChart(tab){
            if (tab=='#tabInvoice') {
                var ch_param = (startData.plus_lessons)? {
                    px: 'sportsmen_',
                    label: 'Спортсмены'
                } : {
                    px: 'inv_',
                    label: 'Руб'
                };

                pDATA('idSportsmen', $.extend({
                        lessdata: 1,
                        _report: 'idSportsmen_bymonth'
                    }, addPost), function(data) {
                    //console.log(data);
                    
                    var d = [], names = {}, cnts = {};
                    $.each(data.rows, function(i, r) {
                        var row = [r.typeinvoice]; // 0 строка - идентификатор
                        for (var i = 0; i < 6; i++) {
                            row[i+1] = r[ch_param.px+i]; // inv_ , sportsmen_
                            cnts[r.typeinvoice+'_'+i] = r['sportsmen_'+i];
                            if (data.period[i]) {
                                data.period[i].sum = (data.period[i].sum||0) + r[ch_param.px+i]*1;
                            }
                        }
                        d.push(row);
                        names[r.typeinvoice] = r.invoicetype;
                    });

                    loadChart({
                        bindto: '#chartInvoice',
                        data: {
                            onclick: function (d, i) { console.log("onclick", d, i); },
                            columns: d,
                            type: 'bar',
                            //labels: {
                            //    format: function (v, id, i, j) { 
                            //        //console.log('label', v, id, i, j)
                            //        return "rr";
                            //    },
                            //},
                            names: $.extend({
                                    'idPay': 'Оплаты',
                                    'idSchedule': 'Посещения'
                                }, names),
                            groups: [ array_keys(names) ]
                        },
                        axis: {
                            x: {
                                categories: $.map(data.period, function(v, i){
                                    return v.name;
                                }),
                                type: 'category'
                            },
                            y: {
                                label: ch_param.label
                            }
                        },
                        tooltip: {
                            format: {
                                title: function (i) {
                                    var x = data.period[i];
                                    return (x)? x.name +' - '+ (x.sum || 0) : '';
                                },
                                value: function (v, ratio, id, idx) {
                                    //console.log('tooltip', v, ratio, id, idx)
                                    var cnt = cnts[id+'_'+idx];
                                    if (v!=0) return (startData.plus_lessons)? v : v +' / '+ cnt;
                                }
                            }
                        },
                        legend: {
                            //position: 'right',
                            hide: (array_keys(names).length > 7)? true : false
                        }
                    }, function(chartSchedule){
                        var rtype = startData.plus_lessons? 'idSchedule':'idPay';
                        pDATA('idSportsmen', $.extend({
                            lessdata: 1,
                            _rtype: rtype,
                            _report: 'idSportsmen_bymonth'
                        }, addPost), function(data){
                            var row_sp = [ rtype ]; // 'idSchedule':'idPay'
                            var r = data.rows[0];
                            for (var i = 0; i < 6; i++) {
                                if (rtype=='idPay') {
                                    row_sp[i+1] = r['pay_'+i];
                                    cnts['idPay_'+i] = r['sportsmen_'+i];
                                } else {
                                    row_sp[i+1] = r['sportsmen_'+i];
                                }
                            }
                            
                            chartSchedule.load({
                                //type: 'line',
                                columns: [
                                    row_sp
                                ]
                            });
                        });
                    });
                });
            } //if (ch.chart==0)

            if (tab=='#chartLesson') pDATA('idSportsmen', $.extend({
                lessdata: 1,
                _report: 'idSportsmen_tablebyweek',
                clubStatus: 'idLesson'
            }, addPost), function(data){
                var d = {}, dates = [], rows = [ [] ];
                $.each(data.rows, function(i, v) {
                    var sd = str2date(v.sd, 'd');
                    if (!d[sd]) {
                        d[sd] = {};
                        dates.push(sd);
                    }
                    d[sd][v.status] = v.cnt*1;
                });
                $.each(dates, function(i, v) {
                    var row_data = $.map(data.clubStatus, function(s, n) {
                        if (i==0) rows[0].push(s.name);
                        return [(!d[v][s.alias])? null : d[v][s.alias] ];
                    });
                    rows.push(row_data);
                });
                //console.log(d, dates, rows);

                loadChart({
                    bindto: tab,
                    data: {
                        type: 'bar',
                        rows: rows,
                        groups: [ rows[0] ]
                    },
                    axis: {
                        x: {
                            type: 'category',
                            categories: dates
                        }
                    }
                });
            });  //if (ch.chart==1)

            if (tab=='#chartNAR') pDATA('idClub', $.extend({
                lessdata: 1,
                _report: 'idCity_archive'
            }, addPost), function(data){
                var cd = {
                    cols: {
                        sportsmen_new: {n:'Новые',c:'#66CC66'},
                        sportsmen_arc: {n:'Архив',c:'#3366FF'},
                        sportsmen_back: {n:'Вернулись',c:'#FF9966'}
                    },
                    mon: {}, months: [], colors: {}
                };
                $.each(data.rows, function(i, v) {
                    cd.mon[v.month_ch] = v;
                });
                cd.cdata = $.map(cd.cols, function(col, key){
                    var out = [col.n];
                    cd.colors[col.n] = col.c;
                    $.each(data.period, function(i, per) {
                        var value = (cd.mon[per.m])? cd.mon[per.m][key]*1 : 0;
                        if (key == 'sportsmen_arc') {
                            value = 0 - value;
                            cd.months.push(per.name)
                        }
                        out.push(value);
                    });
                    return [ out ];
                });
                //console.log(data, cd);

                loadChart({
                    bindto: tab,
                    data: {
                        columns: cd.cdata,
                        type: 'bar',
                        colors: cd.colors
                    },
                    bar: {
                        width: {
                            ratio: 0.8 // this makes bar width 50% of length between ticks
                        }
                    },
                    axis: {
                        x: {
                            type: 'category',
                            categories: cd.months
                        }
                    }
                });
            });  //if (ch.chart==2)
        }

        var ct = $('#chartTabs > .nav-scroller a')
        .removeClass('loaded')
        .off('click.club')
        .on('click.club', function (e) {
            var active_tab = $(e.target);
            if(!active_tab.hasClass('loaded')){
                active_tab.addClass('loaded')
                showChart(active_tab.attr("href"));
            }
        })
        .filter('.active:eq(0)').click();
    }
    
    function getDboard() {
        var postData = {
            _where: {}
        };
        if (startData.selClub != '0') postData._where['idSquad.club'] = startData.selClub;
        
        pJSON('/data/dboard', postData, function(data) {
            SCRM.link(startData, data);
            dboard(postData);
        });
    }
    
    if (startData.show_stat) {
        dboard();
        
        if (startData.dbvalues.idClub.length > 1) {
            SCRM.link(startData, {
                idClub: $.merge([{id: '0', name: '*'}], startData.dbvalues.idClub)
            });
        }
        $.observe(startData, 'selClub', 'plus_lessons', function(e, d) {
            //console.log('observe', startData);
            getDboard();
        });
    }
});

function getSpRows(postData) {
    return pDATA('idSportsmen', $.extend({
        tableadd: 'idPhoto',
        _process: 'idFilesPhoto',
        sidx: 'name', sord: 'asc',
        rows: 25
    }, postData));
}
</script>
