<!-- clubReport -->
<div id="retentionReport" data-link="{include tmpl='#tpl_retentionReport'}"></div>

<script id="tpl_retentionReport" type="text/x-jsrender">
    <p>Новые ({^{:period_name}}): <b class="text-success">{^{:total_cnt}}</b></p>
    <table class="table table-bordered" data-link="visible{:total_cnt>0}">
        <thead>
            <tr>
                <th>Период</th>
                <th>Начислено</th>
                <th>Оплачено</th>
            </tr>
        </thead>
        <tbody>
        {^{for period}}
          <tr>
            <td>{{:name}}</td>
            <td class="text-right">
                {{if spcnt}}<span class="badge badge-primary">{{:spcnt}}</span>{{/if}}
                {{formatMoney:invsum||0}}
            </td>
            <td class="text-right">{{formatMoney:ipsum||0}}</td>
          </tr>
        {{/for}}
        </tbody>
    </table>
    {^{if !showMore}}
    <a href="#" data-link="{on ~showMore}">Подробнее</a>
    {{else}}

<h3 class="section-title">По спортсменам</h3>
<div class="table-responsive">
<table class="table table-bordered table-sm m-0">
    <thead>
        <tr>
            <th>N</th>
            <th>Ф.И.О.</th>
            {^{for period}}
            <th>{{:name}}</th>
            {{/for}}
        </tr>
    </thead>
    <tbody>
    {^{for rows itemVar="~sp" ~p=period}}
      <tr>
        <td>{{:#index+1}}</td>
        <td>
            <a href="#" data-sportsmen="{{:key}}">{{:name}}</a>
            <span class="text-muted d-block">{{:status}}</span>
        </td>
        {{for ~p}}
        <td class="text-right">
            {{if ~sp['invcnt_'+#index] ~idx=#index}}
                <div class="text-nowrap">
                <span class="badge badge-primary">{{:~sp['invcnt_' + ~idx]}}</span>
                {{:~sp['invsum_' + ~idx]}}
                </div>
            {{/if}}
            {{if ~sp['ipsum_'+#index] ~idx=#index}}
                <div class="text-success">{{:~sp['ipsum_'+~idx]}}</div>
            {{/if}}
        </td>
        {{/for}}
      </tr>
    {{/for}}
    </tbody>
</table>
</div>

    {{/if}}
</script>

<script>
$(function(){
    var ppData = clubReport.reportPeriod.data('ppData');

    var retentionReport = {
        ready: false
    };
    $.link(true, '#retentionReport', retentionReport, {
        showMore: function(e) {
            e.preventDefault();
            SCRM.link(retentionReport, {showMore: true});
        }
    });

    $.observe(ppData, 'selPeriod', function(){
        //retentionReport.ready = false;
        ppData.calendar.setDate([
            ppData.period[ppData.selPeriod].d1d2[0],
            ppData.period['0'].d1d2[1]
        ], false);
    });
    $.observe(ppData, 'd1d2', function(e, data){
        setTimeout(function(){
            var c = ppData.calendar,
            d1d2 = {
                d1: c.formatDate(c.selectedDates[0], 'Y-m-d'),
                d2: c.formatDate(c.selectedDates[1], 'Y-m-d')
            };
            
            pJSON(SCRM.url+'report/report_newSportsmenAfter.php', d1d2, function(data){
                data.total_cnt = 0;
                data.period_name = data.period[0].name;
                $.each(data.rows, function(i,v){
                    data.total_cnt++;
                    function v_1(key){
                        v[key] = (v[key]||0)*1;
                        return v[key];
                    }
                    $.each(data.period, function(n, p){
                        p.spcnt = (p.spcnt||0) + (v_1('invcnt_'+n)? 1 : 0); // количество в человеках
                        p.invsum = (p.invsum||0) + v_1('invsum_'+n);
                        p.ipsum = (p.ipsum||0) + v_1('ipsum_'+n);
                        //p['ipsum'] = (v['ipsum_'+n]||0)*1;
                        //key2obj(data, 'spcnt_'+n, {v: 0}).v += (v['invcnt_'+n]||0)*1? 1 : 0;
                        //key2obj(data, 'invsum_'+n, {v: 0}).v += (v['invsum_'+n]||0)*1;
                        //key2obj(data, 'ipsum_'+n, {v: 0}).v += (v['ipsum_'+n]||0)*1;
                    });
                });
                SCRM.link(retentionReport, data);
            });
        }, 10);
    });
    SCRM.link(ppData, {selPeriod: '3'});
});
</script>